/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; /* Ensures no text-decoration within the entire project so there are no underlines for any links */
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
}

/*  Utility classes */
.hide {
    display: none;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#high-scores-link a{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: plum; /* Initial link color */
    font-size: 1.2em;
    transition: color 0.3s ease; /* Transition for hover effect */
}

#high-scores-link a:link, #high-scores-link a:visited{
    color: plum; /* Original link color */
}

#high-scores-link a:hover{
    color: rgb(66, 0, 128); /* Text color change when hovered on */
    
}

#timer {
    position: absolute;
    top: 20px;
    right: 20px;
    color: grey;
    font-size: 1.2em;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    margin-top: 80px;
    padding: 30px;
    padding-left: 20%;
    padding-right: 20%;
}


/* Typography */
h1 {
    color: rgb(66, 0, 128);
    font-size: 3.5em;
    font-weight: bolder;
}

h2 {
    margin-bottom: 1.2em;
}

p {
    font-size: 1.6em;
    color: black;
}

#initial-page p{
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/* Button styles */
button {
    margin-top: 1em;
    cursor: pointer;
    background-color: rgb(66, 0, 128); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transiton for hover effect */
}

button:hover {
    background-color: plum; /* Text color change when hovered on */
}

/* Quiz styles */
#quiz-container {
    width: 100%; /* Full width of the container */
    max-width: 700px; /* Maximum width of the container */
    min-height: 250px; /* Minimum height of the container */;
    margin: 20px auto; /* Centering the container */
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#quiz-container.hide {
    display: none; /* Makes sure the quiz-container isn't displayed concurrently with score submission bc something in the quiz-container styling was overriding the class of 'hide' -  fixing it here by specifying, after the general quiz-container styling, that the css should make the quiz-container the display of none via css when hidden */
}

#question {
    margin-top: 30px;
    margin-bottom: 10px; /* Space between question and choices */
    font-size: 24px;
    min-height: 70px; /* Minimum height for the question to maintain a consistent position */
}

/* Choice button styles */
#choices {
    width: 100%; /* Ensures the container for choices doesn't change size */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#choices button {
    min-width: 180px; /* Uniform button width for the choices buttons that accommadates the lengths of all choices text */
    text-align: left; 
    padding-left: 10px;
}

/* Feedback styles */
#feedback {
    font-style: italic;
    font-size: 18px;
    border-top: 1px solid #c7c7c79a; /* Line separating current choices from last question feedback */
    padding-top: 10px; /* Spacing from the line */
    margin-top: 20px; /* Spacing from the choices */
}

#final-score {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input, #user-intials, #submit-score-btn {
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
}

#high-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#high-scores-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px 25px 25px;
}

#high-scores button {
    width: 211px;
    height: 40px;
    padding: 5px;
    font-size: 1em;
}

 /* MEDIA QUERIES - responsive design adjustments */
 /* featuring adjustments for standard breakpoints as well as specific breakpoints that were determined via testing various viewpoints*/
 @media (max-width: 985px) {
    main {
        padding: 30px;
        padding-left: 15%;
        padding-right: 15%;
    }
 }
 
 @media (max-width: 768px) {
    main {
        padding: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }

    h1 {
        font-size: 3.1em;
    }
 }

 @media (max-width: 570px) {
    main {
        padding: 30px;
        padding-left: 7%;
        padding-right: 7%;
    }
    h1 {
    font-size: 2.4em;
    }
    
    p {
    font-size: 1.4em;
    }
 }