* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#high-scores-link a{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: plum; /* Initial link color */
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease; /* Transition for hover effect */
}

#high-scores-link a:link, #high-scores-link a:visited{
    color: plum; /* Original link color */
    text-decoration: none; /* Ensures no underline */
}

#high-scores-link a:hover{
    color: rgb(66, 0, 128); /* Text color change when hovered on */
    text-decoration: none; /* Ensures no underline appears on hover */
}

#timer {
    position: absolute;
    top: 20px;
    right: 20px;
    color: grey;
    font-size: 1.2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    margin-top: 80px;
    padding: 30px;
    padding-left: 20%;
    padding-right: 20%;
}

a {
    text-decoration: none;
}

h1 {
    color: rgb(66, 0, 128);
    font-size: 2.5em;
    align-items: flex-start;
}

h2 {
    margin-bottom: 1.2em;
}

p {
    font-size: 1.6em;
    color: black;
}

#initial-page p{
    margin-top: 4.5em;
    margin-bottom: 1.2em;
}

.hide {
    display: none;
}

button {
    margin-top: 1em;
    cursor: pointer;
    background-color: rgb(66, 0, 128); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transiton for hover effect */
}

button:hover {
    background-color: plum; /* Text color change when hovered on */
    text-decoration: none;
}


/* Quiz styles */
#quiz-container {
    width: 100%; /* Full width of the container */
    max-width: 700px; /* Maximum width of the container */
    min-height: 250px; /* Minimum height of the container */;
    margin: 20px auto; /* Centering the container */
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#quiz-container.hide {
    display: none; /* make sure the quiz-container isn't displayed when hidden bc something in the quiz-container styling was overriding the class of 'hide' - so fixing it here by specifying the display of none via css when hidden */
}

#question {
    margin-top: 30px;
    margin-bottom: 10px; /* Space between question and choices */
    font-size: 24px;
    min-height: 70px; /* Minimum height for the question to maintain a consistent position */
}

#choices {
    width: 100%; /* Ensures the container for choices doesn't change size */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Feedback styles */
#feedback {
    font-style: italic;
    font-size: 17px;
    border-top: 1px solid #c7c7c79a; /* Line separating current choices from last question feedback */
    padding-top: 10px; /* Spacing from the line */
    margin-top: 20px; /* Spacing from the choices */
}

#final-score {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#user-intials {
    width: 70%;
    padding: 10px;
    margin-right: 10px; /* spacing between intials input and submit score button */
}

#high-scores-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    justify-content: space-between;
    padding-left: 120px;
}


 /* TO DO: Ensure the layout is responsive to different screen sizes */